.title{
    font-size: 24px;
    font-weight: bold;
    color: #333333; 
}
.container{
    margin: 20px;
    padding: 15px;
    
}
input{
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px; 
    font-size: large;
}
.btnRezultat{
    background-color: #4CAF50;
    color: white;
    padding: 20px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.textCalcule{
    margin-top: 15px;
    font-size:x-large;
    
}
.containerDificultate{
    font-size: 24px;
    margin: 10px;
    padding: 10px;
   font-family: 'Courier New', Courier, monospace;

}
.selectare-dificultate{
    font-size: 20px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px; 

}   
