body{
    background-color: antiquewhite;
}
.title{
    font-size: 24px;
    font-weight: bold;
    color:violet;
    
}
.btnClass{
    color: red;
    font-size: 1rem;
    border-radius: 4px;
}

.tasks li{
    color: green;
    padding: 1 rem;
    background-color: aqua;
    margin: 1%;
    border-radius: 1rem;
    font-size: larger;
}
.task-Form input{
color:blue;
background-color:aquamarine;
}