*{
    box-sizing: border-box;
}

.titlu {
  color: green;
}
.tasks li{
    background-color: aquamarine;
    cursor: pointer;
    padding: 10px;

}
.tasks li :hover{
    background-color: lightblue;
    cursor:pointer;
    padding: 1rem;
}
.tasks{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:10px;
}
.task-form button{
    background-color: bisque;
    padding: 1rem;
}
.task-form input{
    background-color: antiquewhite;
    padding: 1rem;
    ;
}

