.titlu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.listaTaskuri li{
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem;
    font-size: large;
    background-color:aquamarine;

}
.inputForm button{
background-color: aqua;
padding: 1rem;
}
.inputForm input{
    padding:1rem;
    font-size: large;
}
.btnSterge{
   background-color: aqua;
padding: 1rem; 
}