body{
    background-color:cadetblue
}
.titlu{
    font-family: 'Courier New', Courier, monospace;
}
.save-btn{
    padding: 1rem;
    background-color: aquamarine;
}
.clear-btn{
    padding: 1rem;
    background-color: chocolate;
    
}
input{
    padding: 1rem;
}
.storage-data{
    padding: 1rem;

}
.items li{
    background-color: aliceblue;
    padding: 1rem;
}
.items li:hover{
    background-color: white;
    padding: 1 rem;
}